@model MvcTravelProje.Models.Siniflar.Blog
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<div style="margin-bottom:15px">
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x=>x.Baslik, new {@class="form-control" })
</div>

<div style="margin-bottom:15px">
    @Html.Label("Blog Yazılma Tarihi")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
</div>

<div style="margin-bottom:15px">
    @Html.Label("Blog Açıklaması")
    @Html.TextAreaFor(x => x.Aciklama,15,1, new { @class = "form-control" })
</div>

<div style="margin-bottom:15px">
    @Html.Label("Blog Resmi (url olarak)")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
</div>

<div>
    <a href="/Admin/Index/" class="btn btn-info">Bloglara Geri Dön</a>
</div>
